:root {
  --color-light-gray: #bbb0b0;
  --color-dark-gray: #8c7b7b;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-width: 360px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--color-light-gray),
    var(--color-dark-gray)
  );
}
      .main-container {
        padding: 0 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        min-height: 100vh;
        height: auto;
        width: clamp(360px, 80%, 1200px);
      }
      .main-heading {
        
        margin: 30px 0;
        color: white;
        font-size: clamp(2.4rem, 4vw, 4.4rem);
        box-sizing: border-box;
      }
      .content {
        background-color: #e5d9d9;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        border-radius: 10px;
      }
      .nav-container {
        width: 100%;
        display: flex;
        justify-content: start;
        gap: 10px;
        padding: 0 0 0 10px;
      }
      .inner-container {
        padding: 30px 0;
        display: flex;  
        justify-content: space-between;
        align-items: center;    
      }

        .text-container{
          padding: 10px 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
        }
        .text-container p {
          width: 25ch;
          font-size: clamp(1.2rem, 2.5vw, 2.5rem);
          font-weight: 300;
        }
        .text-container img {
          width: clamp(100px, 18vw, 200px);
          height: clamp(100px, 18vw, 200px);
          object-fit: cover;
          border-radius: 50%;
        }
        
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        max-width: 300px;
        margin: 0 auto;
      }
      #a-go-back {
        display: block;
        margin-top: 20px;
        text-align: center;
      }
     @media all and (max-width: 700px) {

      .text-container {
        justify-content: center;
      }
      .text-container p {
        width: auto;
        text-align: start;
        justify-content: center;
        font-size: clamp(1rem, 4vw, 2rem);
      }
      .text-container img {
        width: clamp(80px, 30vw, 150px); 
        height: clamp(80px, 30vw, 150px);
        margin-top: 20px;
      }
    }
